.button-register {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.h3-register {
  font-weight: 500;
  font-size: 22px;
  color: #c2c2c2;
}

.link-register {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c1038;
}
