.button-register {
  font-weight: 400;
  font-size: 20px;
}

.p-card-name {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.p-card-date {
  font-weight: 400;
  font-size: 20px;
  color: #C2C2C2;
}

.h3-price {
  font-weight: 500;
  font-size: 22px;
  color: #FD7E14;
}

.h3-register {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}

.h3-account {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}

.h3-login_delete {
  font-weight: 500;
  font-size: 22px;
  color: #0C1038;
}

.h4-login_delete {
  font-weight: 400;
  font-size: 20px;
  color: #0C1038;
  text-align: center;
}

.link-register {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c1038;
}

.link-account {
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c1038;
}

.subscribe-input {
  padding: 8px 0;
  width: 224px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}