.button {
  font-weight: 600;
  font-size: 16px;
}

.h3 {
  font-weight: 800;
  font-size: 40px;
  color: #0c1038;
  line-height: 95%;
  &_center {
    font-weight: 800;
    font-size: 25px;
    color: #0c1038;
    line-height: 100%;
    text-align: center;
  }
}

.price {
  font-weight: 700;
  font-size: 20px;
  color: var(--second--color);
}

.default {
  font-size: 16px;
  color: #fff;
}

.h3-login_delete {
  font-weight: 500;
  font-size: 22px;
  color: #0c1038;
}

.h4-login_delete {
  font-weight: 400;
  font-size: 20px;
  color: #0c1038;
  text-align: center;
}

.link-register {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c1038;
  text-decoration: none;
  font-weight: 500;
  line-height: 150%;
}

.link-account {
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c1038;
}

.subscribe-input {
  padding: 8px 0;
  width: 224px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.check-box {
  font-size: 14px;
  color: #0c1038;
}
