.footer {
  border-top: 1px solid #c2c2c2;
  background: none;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 20px;
  z-index: 2101;
  background: var(--main--color);
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__inf {
    display: flex;
    align-items: flex-start;
    gap: 35px;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    a {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
  &__polit {
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &__media {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .row {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}
