.time {
  font-size: 15px;
  color: rgba(12, 16, 56, 1);
}
.title_request {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.title_request:active {
  color: rgb(154, 153, 194);
}
