.payment {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text {
  color: #fff;
  font-size: 22px;
  padding-bottom: 13px;
}

.card {
  width: 608px;
  height: 174px;
  background: #4D648D;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
  padding: 32px;
  &__img {
    background: #fff;
    width: 186px;
    height: 110px;
    border-radius: 20px;
  }
  &__wrapper {
    margin-left: 38px;
  }
}
