.card {
  border: 1px solid #fd7e14;
  border-radius: 20px;
  width: 864px;
  height: 168px;
  box-shadow: 4px 4px 5px 0 rgba(253, 126, 20, 0.4);
  background: linear-gradient(180deg, #222d9e 0%, #0c1038 100%);
  padding: 24px;
  display: flex;
  gap: 40px;

  &__img {
    img {
      width: 120px;
      height: 120px;
    }
  }

  &__descr {
    display: flex;
    gap: 25px;
  }

  &__d {
    display: grid;
    gap: 16px;
  }

  &__icon {
    display: flex;
    color: #C2C2C2;
    gap: 16px;
    align-items: center;
    margin-right: 50px;
  }

  &__input {
    width: 24px;
    height: 24px;
  }

}
