.offers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 5px;
  &__img {
    width: 224px;
    height: 256px;
    background: #0000002a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
