.finance {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  width: 608px;
  height: 245px;
  border: 1px;
  border-color: #592DD1;
  background: #4D648D;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 32px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.finance__text {
  font-size: 20px;
  color: #fff;
}

.field {
  width: 224px;
  display: flex;
  align-items: center;
  gap: 32px;
}

input {
  width: 96px;
  height:39px;
  background: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px;
  gap: 10px;
}

.button {
  margin-top: 64px;
  margin-left: 144px;
  width: 320px;
  height: 56px;
  background: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  gap: 10px;
}