.cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
}

.fild {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

@media (max-width: 971px) {
  .fild {
    grid-template-columns: 1fr;
    gap: 14px;
  }
  .cards {
    gap: 10px;
  }
}
