.main {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 0 0 0 0;
  position: relative;
  &::-webkit-scrollbar {
    background: none;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3351ff79;
    width: 2px;
    border-radius: 50px;
  }
}
