.prev {
  background: #b7b7b79c;
  border: 1px solid #000;
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  padding: 32px 64px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__item {
    height: 170px;
    width: 350px;
    background: #b7b7b79c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__card {
    width: 730px;
    height: 350px;
    background: #b7b7b79c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 44px;
    span {
      margin-right: 93px;
    }
  }
  &__skeleton {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__line {
    width: 307px;
    height: 20px;
    background: #fff;
  }
  &__block {
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b7b7b79c;
  }
}

.footer {
  min-height: 120px;
  background: #000;
}

.wrapper {
  height: 100%;
  display: flex;
  gap: 24px;

  &__item {
    margin-top: 20px;
    width: 1500px;
  }
}

.main {
  position: relative;
  height: 80vh;
}
