.support {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 352px;
  height: 212px;
  background: #4D648D;
  border: 1px;
  border-color: #592DD1;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 20px;
    color: #ffffff;
  }

  &__text {
    font-size: 20px;
    color: #0C1038;
  }
}
