.header {
  background: #b7b7b79c;
  width: 100%;
  padding: 20px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  background: #fff;
  padding: 5px 35px;
  font-size: 20px;
  font-weight: 400;
}

.login {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
