.header {
  width: 100%;
  padding: 20px 0;
  &__container {
    display: flex;
    align-items: center;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__wrapper {
    gap: 33px;
    display: flex;
    align-items: center;
    margin-left: 44px;
    .nav {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
    }
  }
  &__login {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
  }
}

.logo {
  font-size: 20px;
  font-weight: 400;
  width: 170px;
  img {
    width: 100%;
  }
}

.login {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.catalog {
  color: #fff;
  cursor: pointer;
}
