.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .or {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background: #242424be;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      left: -110px;
    }
    &::before {
      right: -110px;
    }
  }