@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  // position: relative;
  // height: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  min-width: 320px;
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: #0c1038;
  overflow: hidden;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

input,
textarea,
button,
a,
svg,
svg path,
svg stroke {
  transition: all 0.3s;
}

p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}
