.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #fd7e14;
  border-radius: 20px;
  // height: 168px;
  box-shadow: 2px 2px 5px 0 rgba(253, 125, 20, 0.096);
  background: linear-gradient(180deg, #222d9e 0%, #0c1038 100%);
  padding: 24px;
  display: flex;
  gap: 10px;
  &__img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c2c2;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
}

.button {
  position: fixed;
  bottom: 60px;
  background: linear-gradient(180deg, #fff 0%, #fd7e14 85%);
  padding: 6px 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border-radius: 8px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;
  span {
    font-size: 30px;
    font-weight: 700;
  }
}

@media (max-width: 990px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: 660px) {
  .card {
    display: none;
  }
  .button {
    display: flex;
  }
}
