.section {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;

  &__Button {
    width: 100%;
    height: 56px;
    margin: 40px 155px;
  }
}

.card {
  border: 1px solid #fd7e14;
  border-radius: 20px;
  width: 608px;
  height: 168px;
  box-shadow: 4px 4px 5px 0 rgba(253, 126, 20, 0.4);
  background: linear-gradient(180deg, #222d9e 0%, #0c1038 100%);
  padding: 24px;
  display: flex;
  gap: 40px;

  &__img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-color: #C2C2C2;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  &__button {
    width: 320px;
    height: 56px;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 8px;
    background: linear-gradient(#222D9E, #0C1038);
    box-shadow: 0 0 8px #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

}