.register {
  background: #0c1038;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
  &:disabled {
    background: none;
    color: #000000;
    opacity: 0.5;
    border: 1px solid #000;
    cursor: auto;
  }
}

.text {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  padding: 12px 55px;
  width: auto;
}

.card {
  width: 100%;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
}
