.register {
  background: #0c1038;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  color: #ffffff;
  &:disabled {
    background: none;
    color: #000000;
    opacity: 0.5;
    border: 1px solid #000;
    cursor: auto;
  }
}

.text {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
