.bigBlue {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  height: 56px;
  width: 320px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#222d9e, #0c1038);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.bigWhite {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0c1038;
  height: 56px;
  width: 320px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#ffffff, #999999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.normalBlue {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  height: 56px;
  width: 240px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#222d9e, #0c1038);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.normalWhite {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0c1038;
  height: 56px;
  width: 240px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#ffffff, #999999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.smallBlue {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  height: 48px;
  width: 224px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#212c9d, #0c0f37);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.smallWhite {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0c1038;
  height: 48px;
  width: 224px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#ffffff, #999999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.bigBlue,
.bigWhite,
.normalBlue,
.normalWhite,
.smallBlue,
.smallWhite {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0c1038;
  height: 48px;
  width: 224px;
  border-radius: 8px;
  border: 0.5px;
  border-color: #0c1038;
  transition: 0.2s linear;
  background: linear-gradient(#ffffff, #fd7e14);

  transition: 0.2s linear;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }

  &:disabled {
    background: none;
    color: #c2c2c2;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}
.bigBlue {
  color: #ffffff;
  height: 56px;
  width: 320px;
  background: linear-gradient(#222d9e, #0c1038);

  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
}

.bigWhite {
  color: #0c1038;
  height: 56px;
  width: 320px;
  background: linear-gradient(#ffffff, #999999);

  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
}

.normalBlue {
  color: #ffffff;
  height: 56px;
  width: 240px;
  background: linear-gradient(#222d9e, #0c1038);

  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
}

.normalWhite {
  color: #0c1038;
  height: 56px;
  width: 240px;
  background: linear-gradient(#ffffff, #999999);

  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
}

.smallBlue {
  color: #ffffff;
  height: 48px;
  width: 224px;
  background: linear-gradient(#212c9d, #0c0f37);

  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
}

.smallWhite {
  color: #0c1038;
  height: 48px;
  width: 224px;
  background: linear-gradient(#ffffff, #999999);

  &:hover {
    box-shadow: 0 0 0 3px #0c1038;
  }
}

.smallOrange {
  color: #0c1038;
  padding: 10px 0;
  width: 100%;
  border: 0.5px;
  border-color: #0c1038;
  background: linear-gradient(#ffffff, #fd7e14);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
  border-radius: 6px;
  &:hover {
    box-shadow: 0 0 5px 6px #1925aa;
  }
}

.save {
  height: 56px;
  width: 240px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#222d9e, #0c1038);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }
}

.delete {
  height: 56px;
  width: 240px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#ffffff, #999999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 3px rgba(12, 16, 56, 0.25);
  }
}
.addSentence {
  height: 56px;
  width: 320px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#222d9e, #0c1038);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 3px #c2c2c2;
  }

  &:disabled {
    background: none;
    color: #000000;
    opacity: 0.5;
    border: 1px solid #c2c2c2;
    cursor: auto;
  }
}

.register {
  background: #0c1038;
  border-radius: 8px;
  width: 140px;
  padding: 10px 0;
  color: #ffffff;
  &:hover {
    background: #12196b;
  }
  &:disabled {
    background: none;
    color: #000000;
    opacity: 0.5;
    border: 1px solid #000;
    cursor: auto;
  }
}

.text {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.card {
  width: 100%;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
}

.pay {
  height: 43px;
  width: 223px;
  border-radius: 8px;
  transition: 0.2s linear;
  background: linear-gradient(#212c9d, #0c0f37);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3c82f8;
  }
}

.card {
  width: 100%;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
}
